/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  --primary: #1E1455;
  --secondary: #683EBC;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background-color: var(--primary);
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* HEADER SECTION START */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  height: 25vh;
}

.greeting {
  font-size: 1.5rem;
  font-weight: bold;
}

.right-element {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;
  padding: 10px 10px;
}

.date {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.time {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.weather {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
/* HEADER SECTION END */

/* MAIN CONTENT START */
main {
background-color: var(--secondary);
height: 75vh;
display: flex;
flex-direction: column;
align-items: center;
padding: 1em;
}

.form {
 display: flex;
 gap: 0.5em;
 align-items: center;
 justify-content: center;
 padding-top: 5vh;
}

.form-input {
  border-radius: 4px;
  padding: 0.5em;
  width: 250px;
  height: 2em;
  background-color: var(--primary);
  color: white;
}

.form-btn {
  background-color: var(--primary);
  padding: 0.25em;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(212, 216, 219);
}

.form-btn:hover {
  background: #af8bf2;
}

::placeholder {
  color: rgb(212, 216, 219);
  text-align: center;
}
/* MAIN CONTENT END */